*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    z-index: 11;
}
body{
    background-image: url(background/bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#map{
    height: 37rem;
}
.container{
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    box-shadow: 0px 50px 50px 4px #9d9c9c;
    border-radius: 1rem;
}
.img{
    height: 27rem;
    width: auto;
}
